<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/style.css" rel="stylesheet">
        <title>To Do List</title>
    </head>
    <body>
        <div class="card">
            <h1>Login</h1>
            <form action="/auth/login" method="POST">
                <div class="mb-3">
                    <label for="email-lgn" class="form-label">Email</label>
                    <input type="text" class="form-control" id="email-lgn" name="email">
                </div>
                <div class="mb-3">
                    <label for="password-lgn" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password-lgn" name="password">
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

        <% if(message) { %>
            <h4><%= message %></h4>
        <% }; %>
    </body>
</html>
