* {
    font-family: "Times New Roman", serif;
}

body {
    background: #e1b382; /*Sand Tan*/
    height: 100vh;
    margin: 0;
}

h1.list {
    font-size: 50px;
    color: white;
    text-align: center;
    min-width: 230px;
    position: relative;
    background-color: #2d545e; /*Night Blue*/
}

.user-actions {
    text-decoration: none;
}

a.user-login, a.user-register{
    font-size: 23px;
    color: white;
    text-decoration: none;
    float: right;
    padding: 5px;
    background-color: #2d545e;
    border-radius: 6px;
    border-color: #2d545e;
}

a.user-login {
    margin-top: -90px;
    margin-right: 105px;
}

a.user-register {
    margin-top: -90px;
    margin-right: 10px;
}

a.user-login:hover, a.user-register:hover {
    background-color: #1c343a;
}

#list {
    padding: 20px 60px;
    margin: 100px 350px;
    min-width: 200px;
    background: #2d545e;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#input {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#add {
    height: 42px;
    width: 60px;
    font-size: 18px;
    margin-left: 10px;
}

#item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 6px;
    background-color: #306d7d;
    padding: 10px 10px;
}

#list-content {
    display: flex;
    color: white;
    font-size: 18px;
    margin: 0px 5px;
    align-items: center;
}

#edit-button {
    margin: 0px 5px;
}

#delete-button {
    margin: 0px 5px;
    margin-left: auto;
}

#change {
    margin: 0px 10px;
    font-size: 15px;
    width: 70px;
}

.button {
    border-radius: 6px;
    color: black;
    font-size: 15px;
}

#message {
    text-align: center;
    color: white;
}

#to-do-list {
    list-style-type: none;
    padding-left: 0px;
}

.input-box {
    height: 35px;
    font-size: 15px;
    border-radius: 5px;
}

.checkbox {
    margin: 0px 5px;
}