* {
    font-family: "Times New Roman", serif;
}

body {
    background: #e1b382; /*Sand Tan*/
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 50px;
    color: white;
    text-align: center;
    position: relative;
    background-color: #2d545e; /*Night Blue*/
}

#list {
    padding: 20px 60px;
    margin: 100px 250px;
    background: #2d545e;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#input {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#add {
    height: 42px;
    width: 60px;
    font-size: 18px;
    margin-left: 10px;
}

#item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 6px;
    background-color: #306d7d;
    padding: 10px 10px;
}

#list-content {
    display: grid;
    color: white;
    font-size: 18px;
    margin: 0px 5px;
    align-items: center;
}

#edit-button {
    margin: 0px 5px;
}

#delete-button {
    margin: 0px 5px;
}

#change {
    margin: 0px 10px;
    font-size: 15px;
    width: 70px;
}

.button {
    border-radius: 6px;
    color: black;
    font-size: 15px;
}

#message {
    text-align: center;
    color: white;
}

#to-do-list {
    list-style-type: none;
    padding-left: 0px;
}

.input-box {
    height: 35px;
    font-size: 15px;
    border-radius: 5px;
}

.checkbox {
    margin: 0px 5px;
}

